/** Tables **/

$table_header_font_color: #fff;
$table_border_color: $border_color;
$table_header_border_color: $border_color;
$table_header_background_color: $ehumGreen;
$table_nth_row_background_color: $background_color_2;


table {
	border-right:0;
	color: #333;
	width: 100%;
	border: 1px solid $table_header_border_color;
	border-spacing: 0px;	/* aka "cellspacing" */
	border-collapse: collapse;	/* cellspacing for IE <= 7 */
	margin-bottom: 1.5em;
	
	th {
		border:0;
		text-align: left;
		vertical-align: middle;
		padding:4px;
		color: $table_header_font_color;
		background-color: $table_header_background_color;
		
		a {
			color: $table_header_font_color;
			text-decoration: none;
			display: inline-block;
			padding: 2px 4px;
			&:hover {
				color: $link_hover_color;
			}
		}
		
		a.asc:after, a.desc:after {
			content: ' ascending';
			border-left: 4px solid transparent;
			border-right: 4px solid transparent;
			border-bottom: 9px dashed $link_hover_color;
			display: inline-block;
			height: 3px;
			margin-left: 8px;
			vertical-align: middle;
			width: 0;
			float: right;
			overflow: hidden;
		}
		a.asc:hover:after {
			border-bottom: 9px dashed $table_header_font_color;
		}
		
		a.desc:after {
			border-bottom: none;
			border-top: 9px dashed $link_hover_color;
			content: ' descending';
			height: 0;
			margin-top: 3px;
		}
		a.desc:hover:after {
			border-top: 9px dashed $table_header_font_color;
		}
	}
	
	tr {
		&.even {	/* because two rows (one of them initially hidden) are a pair that shall appear in the same colours, both get the same classname "even"/"odd", :nth-child does not work here */
			background: $table_nth_row_background_color;
		}
		&:nth-child(even) {
			border-top: 1px solid #ccc;
		}
		td {
			padding: 10px;
			text-align: left;
			vertical-align: middle;
			min-width: 100px;
		}
		&.mouseover {	/* dynamically hover the paired siblings using js, because CSS cannot select a previous sibling*/
			background-color: #ddd;
			cursor: pointer;
		}
		&.outdated{
			background-color: #F27496;
		}
	}
	
	td.actions,
	td.children {
		text-align: left;
		white-space: nowrap;
		
		a {
			margin: 6px 6px;
			padding: 0;
			display: block;
		}
	}
	td.actions a {
		color: $actions_link_color;
		&:hover {
			color: $actions_link_hover_color;
		}
	}
}